body {
  background-color: gray;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div#introDiv {
  background-color: rgb(187, 187, 187);
}

div#question-container {
  background-color: rgb(255, 146, 146);
}

p#question-p{
  color: #fff;
  font-weight: bold;
}
ul#answers-ul{
  color: #fff;
}

div#player-score {
  background-color: rgb(255, 160, 66);
}

