body {
  background-image: url('../assets/images/tile-orange.jpg');
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-color:  rgb(251, 122, 0);
  font-family: 'Marmelad', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.generic-background {
  background-color:  rgba(53, 53, 53, 0.75);
  color:#fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 550px;
}

h1, h2 {
  background-color:  rgba(53, 53, 53, 0.75);
  color: rgb(209, 182, 1);
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  max-width:}

#meditate-pic {
  width:400px;
}

div#rules-div {
  background-color: rgb(36, 36, 36);
}

div#question-container {
  background-color:  rgb(17, 65, 0);
  max-width: 450px;
}

p#question-p{
  color: #fff;
  font-weight: bold;
}
ul#answers-ul{
  color: #fff;
}

div#countdown {
  background-color: rgb(255, 160, 66);
}

div#player-score {
  background-color: rgb(66, 255, 211);
}

button {
  display: inline-block;
  margin: 4px 8px;
  padding: 8px 8px;
  /* font-size: 16px; */
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
